<body>
<br>
<br>
<br>
<div class="container mt-5" style="margin-top: 400px;">
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="mt-5">

        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" formControlName="name" class="form-control">
        </div>

        <div class="form-group">
            <label for="price">Price:</label>
            <input type="number" id="price" formControlName="price" class="form-control">
        </div>

        <div class="form-group">
            <label for="salePrice">Sale Price:</label>
            <input type="number" id="salePrice" formControlName="salePrice" class="form-control">
        </div>

        <div class="form-group">
            <label for="discount">Discount:</label>
            <input type="number" id="discount" formControlName="discount" class="form-control">
        </div>

        <div class="form-group">
            <label for="picture">Picture:</label>
            <input type="text" id="picture" formControlName="picture" class="form-control">
        </div>

        <!-- Here you may want to have a different mechanism to input an array -->

        <div class="form-group">
            <label for="shortDetails">Short Details:</label>
            <input type="text" id="shortDetails" formControlName="shortDetails" class="form-control">
        </div>

        <div class="form-group">
            <label for="description">Description:</label>
            <textarea id="description" formControlName="description" class="form-control"></textarea>
        </div>

        <div class="form-group">
            <label for="stock">Stock:</label>
            <input type="number" id="stock" formControlName="stock" class="form-control">
        </div>

        <div class="form-group">
            <label for="state">State:</label>
            <input type="text" id="state" formControlName="state" class="form-control">
        </div>

        <div class="form-group">
            <label for="category">Category:</label>
            <input type="text" id="category" formControlName="category" class="form-control">
        </div>

        <div class="form-group">
            <label class="btn btn-default" for="pictureFile">Immagine:</label>
            <input type="file" id="pictureFile" (change)="selectFileImg($event)" />
        </div>

        <div class="form-group">
            <label class="btn btn-default" for="pdfFile">PDF:</label>
            <input type="file" id="pdfFile" (change)="selectFilePdf($event)" />
        </div>


        <button type="submit" class="btn btn-primary">Add Product</button>
    </form>
</div>

<!-- Upload Section -->
<div class="container mt-5">
    <div *ngIf="currentFile" class="progress">
        <div class="progress-bar progress-bar-info progress-bar-striped"
             role="progressbar"
             attr.aria-valuenow="{{ progress }}"
             aria-valuemin="0"
             aria-valuemax="100"
             [ngStyle]="{ width: progress + '%' }">
            {{ progress }}%
        </div>
    </div>

    <!--
        <button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">
            Upload
        </button>
    -->
        <div class="alert alert-light" role="alert">{{ message }}</div>
    <!--
        <div class="card">
            <div class="card-header">List of Files</div>
            <ul class="list-group list-group-flush">
                <li *ngFor="let file of fileInfos | async" class="list-group-item">
                    <a href="{{ file.url }}">{{ file.name }}</a>
                </li>
            </ul>
        </div>
        -->
</div>
</body>
