<body>
<br>
<br>
<br>
<div class="container mt-5" style="margin-top: 400px;">
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="mt-5">

        <div class="form-group">
            <label for="name">Titolo:</label>
            <input type="text" id="name" formControlName="name" class="form-control">
        </div>

        <div class="form-group">
            <label for="stock">Stock:</label>
            <input type="number" id="stock" formControlName="stock" class="form-control">
        </div>

        <div class="form-group">
            <label for="category">Categoria:</label>
            <input type="text" id="category" formControlName="category" class="form-control">
        </div>

        <div class="form-group">
            <label for="isbn">ISBN:</label>
            <input type="text" id="isbn" formControlName="isbn" class="form-control">
        </div>

        <div class="form-group">
            <label for="description">Descrizione:</label>
            <textarea id="description" formControlName="description" class="form-control"></textarea>
        </div>

        <div class="form-group">
            <label for="author">Autore:</label>
            <input type="text" id="author" formControlName="author" class="form-control">
        </div>

        <div class="form-group">
            <label for="language">Lingua:</label>
            <input type="text" id="language" formControlName="language" class="form-control">
        </div>

        <div class="form-group">
            <label for="publisher">Editore:</label>
            <input type="text" id="publisher" formControlName="publisher" class="form-control">
        </div>

        <div class="form-group">
            <label for="price">Prezzo:</label>
            <input type="number" id="price" formControlName="price" class="form-control">
        </div>

        <div class="form-group">
            <label class="btn btn-default" for="pictureFile">Immagine:</label>
            <input type="file" id="pictureFile" (change)="selectFileImg($event)" />
        </div>

        <div class="form-group">
            <label class="btn btn-default" for="pdfFile">PDF:</label>
            <input type="file" id="pdfFile" (change)="selectFilePdf($event)" />
        </div>


        <button type="submit" class="btn btn-primary">Add Product</button>
    </form>
</div>

<!-- Upload Section -->
<div class="container mt-5">
    <div *ngIf="currentFile" class="progress">
        <div class="progress-bar progress-bar-info progress-bar-striped"
             role="progressbar"
             attr.aria-valuenow="{{ progress }}"
             aria-valuemin="0"
             aria-valuemax="100"
             [ngStyle]="{ width: progress + '%' }">
            {{ progress }}%
        </div>
    </div>

    <!--
        <button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">
            Upload
        </button>
    -->
        <div class="alert alert-light" role="alert">{{ message }}</div>
    <!--
        <div class="card">
            <div class="card-header">List of Files</div>
            <ul class="list-group list-group-flush">
                <li *ngFor="let file of fileInfos | async" class="list-group-item">
                    <a href="{{ file.url }}">{{ file.name }}</a>
                </li>
            </ul>
        </div>
        -->
</div>
</body>
