<!DOCTYPE html>
<html>  
<body>
    <section class="background firstsection">
        <div class="box-main">
            <div class="firstHalf">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <p class="text-big">Chi siamo</p>
              <br>
             
                  
                <p class="center"><a href="#Order" 
                    style="text-decoration:none;color:white;">
                    La nostra missione è quella di offrire una vasta selezione di libri con il miglior rapporto tra qualità e prezzo. 
                    Non saremmo qui se non fosse per i nostri clienti, per questo negli anni abbiamo costruito un customer service d’eccellenza per rispondere prontamente a tutte le tue esigenze. 

                    La cura e la passione che mettiamo tutti i giorni in questo lavoro ci permettono di seguire sempre da vicino le ultime tendenze in fatto di libri qui su BOOK101 potrai trovare e scoprire tutte le novità. 
                  
                    </a>
                </p>
                <p class="text-small">
                    <br>
                    Customer Service: book101.srl@gmail.com
                    <br>
                    Numero telefono:  +39 0984 22345
                    <br>
                    Sede: Cosenza (CS), Calabria, Italia
                </p>
                <br>
                
                <img alt="Image" src="assets/images/about-pic.jpeg"/>
            </div>
        </div>
    </section>

    
  

                  

</body>
  
</html>