.wrapper-price {
  padding-top: 20px;
  border-top: 2px solid #ebebeb;
}

.cart-button {
  height: 60px;
  line-height: 60px;
  display: inline-block;
  padding: 0 40px;
  background: #94ffc4;
  color: #080808;
  font-size: 14px;
  font-weight: 700;
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -ms-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
.navbar .navbar-button a:hover {
  text-decoration: none;
  background: #080808;
  color: #fff;
}

.snack-bar {
  background: black;
  color: white;
}
