/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.swiper-container h1 {
    /* 2 pixel white shadow to left, top, right and bottom */text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;

}

.pointer {
    cursor: pointer;
}
