<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <h6 class="widget-title">Su di noi</h6>
        <ul class="footer-menu">
          <li><a href="#">Chi siamo </a></li>
          <li><a href="#">Contattaci</a></li>
        </ul>
      </div>
      <!-- end col-4 -->
      <div class="col-lg-4 col-md-6">
        <h6 class="widget-title">Follow Us</h6>
        <ul class="social-media">
          <li><a href="#"><i class="fab fa-facebook-f"></i> /Book101-fb</a></li>
          <li><a href="#"><i class="fab fa-twitter"></i> /Book101-official</a></li>
          <li><a href="#"><i class="fab fa-youtube"></i> /Book101-yt</a></li>
        </ul>
      </div>
      <!-- end col-4 -->
      <div class="col-lg-4">
        <h6 class="widget-title">Dove siamo</h6>
        <address class="address">
          Via Roma 33<strong>Cosenza, Calabria, Italia</strong> <i class="fas fa-info-circle"></i> +39 0984 22345 <br>
          <i class="far fa-envelope"></i> book101.srl@gmail.com
        </address>
      </div>
      <!-- end col-4 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
  <div class="footer-bottom">
    <div class="container"> <span class="copyright">© 2021 Book101 | Libri universitari</span> <span class="creation">Sito creato da Antonino Vaccarella per PSW, 201107, Ingegneria Informatica, DIMES, UNICAL</span> </div>
    <!-- end container -->
  </div>
  <!-- end footer-bottom -->
</footer>
